 body {
  padding:  40px 0 40px 0;
}

h3 {
  margin-top: 2em;
}

h4 {
  margin-top: 1.5em;
}

#title {
  background: none transparent;
}

#title small {
  color: red;
}

header {
  background: url(../images/background-bw.jpg) top center no-repeat;
  background-size: 100% auto;
}

footer * {
  color: gray;
}
